.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  background: rgba(255, 255, 255, 0.6980392157);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Mulish-ExtraBold";
  src: url(/fonts/Mulish-ExtraBold.ttf) format(ttf);
  font-size: 800;
}
@font-face {
  font-family: "Mulish-Bold";
  src: url(/fonts/Mulish-Bold.ttf) format(ttf);
  font-size: 700;
}
@font-face {
  font-family: "Mulish-SemiBold";
  src: url(/fonts/Mulish-SemiBold.ttf) format(ttf);
  font-size: 600;
}
@font-face {
  font-family: "Mulish-Regular";
  src: url(/fonts/Mulish-Regular.ttf) format(ttf);
  font-size: 400;
}
@font-face {
  font-family: "Manrope-SemiBold";
  src: url(/fonts/Manrope-SemiBold.ttf) format(ttf);
  font-size: 600;
}
@font-face {
  font-family: "Manrope-Regular";
  src: url(/fonts/Manrope-Regular.ttf) format(ttf);
  font-size: 400;
}
@font-face {
  font-family: "DMSans Medium";
  src: url(/fonts/DMSans-Medium.ttf) format(ttf);
  font-size: 500;
}
@font-face {
  font-family: "DMSans Regular";
  src: url(/fonts/DMSans-Regular.ttf) format(ttf);
  font-size: 400;
}
.page-header {
  height: 100vh;
  background: url(/images/Happy_girls.png);
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  text-transform: capitalize;
}
.header-top__link {
  width: 189px;
}
.header-top__link_logo {
  width: 100%;
}
.header-top__nav {
  max-width: 466px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__nav_link {
  font-size: 16px;
  line-height: 28px;
  color: #150A29;
  font-family: "Manrope-SemiBold";
}
.header-top__btn {
  width: 137px;
  height: 50px;
  text-transform: capitalize;
  border-radius: 50px;
  background: #FD695A;
  color: #FFFFFF;
  border: solid 2px #FD695A;
  cursor: pointer;
  transition: 0.5s;
  font-size: 16px;
  line-height: 28px;
  font-family: "Mulish-SemiBold";
}
.header-top__btn button:hover {
  background: #FFFFFF;
  color: #FD695A;
}
.header-top__btn:active .form {
  opacity: 1;
  z-index: 1;
}
.header .burger-menu {
  background: red;
  width: 25px;
  height: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header .burger-menu div {
  width: 100%;
  height: 3px;
  background-color: #150A29;
}

.form {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 25px;
  background: #FD695A;
  border: solid 3px #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform: translateY(-100%);
}
.form.open {
  transform: translateY(0%);
  transform: translateX(-50%);
}
.form-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-head img {
  width: 120px;
  margin: 0;
  padding: 7px;
  background: rgba(255, 255, 255, 0.6980392157);
  border-radius: 10px;
}
.form-head button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
}
.form-head button div {
  width: 15px;
  height: 2px;
  margin: auto;
  background: #FD695A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-head button div:nth-child(1) {
  transform: rotate(57deg);
}
.form-head button div:nth-child(2) {
  transform: rotate(-57deg);
}
.form-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form-info__text {
  font-family: "Manrope-Regular";
  font-size: 21px;
  line-height: 34px;
  color: #FFFFFF;
}
.form-info__inp {
  max-width: 300px;
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-family: "Manrope-Regular";
  font-size: 20px;
  line-height: 25px;
  outline: none;
}
.form-btn {
  width: 300px;
  height: 50px;
  margin: 30px auto;
  border-radius: 50px;
  background: #FD695A;
  color: #FFFFFF;
  border: solid 2px #FD695A;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.6980392157);
  font-family: "Mulish-Bold";
  font-size: 22px;
  line-height: 27px;
}
.form-btn button:hover {
  background: #FFFFFF;
  color: #FD695A;
}/*# sourceMappingURL=main.css.map */