@font-face {
    font-family: 'Mulish-ExtraBold';
    src: url(../fonts/Mulish-ExtraBold.ttf) format(ttf);
    font-size: 800;
}
@font-face {
    font-family: 'Mulish-Bold';
    src: url(../fonts/Mulish-Bold.ttf) format(ttf);
    font-size: 700;
}
@font-face {
    font-family: 'Mulish-SemiBold';
    src: url(../fonts/Mulish-SemiBold.ttf) format(ttf);
    font-size: 600;
}
@font-face {
    font-family: 'Mulish-Regular';
    src: url(../fonts/Mulish-Regular.ttf) format(ttf);
    font-size: 400;
}

@font-face {
    font-family: 'Manrope-SemiBold';
    src: url(../fonts/Manrope-SemiBold.ttf) format(ttf);
    font-size: 600;
}
@font-face {
    font-family: 'Manrope-Regular';
    src: url(../fonts/Manrope-Regular.ttf) format(ttf);
    font-size: 400;
}

@font-face {
    font-family: 'DMSans Medium';
    src: url(../fonts/DMSans-Medium.ttf) format(ttf);
    font-size: 500;
}
@font-face {
    font-family: 'DMSans Regular';
    src: url(../fonts/DMSans-Regular.ttf) format(ttf);
    font-size: 400;
}