@mixin flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btn {
    border-radius: 50px;
    background: $orange;
    color: $white;
    border: solid 2px $orange;
    cursor: pointer;
    transition: .5s;
    &:hover {
        background: $white;
        color: $orange;
    }
}

@mixin 