$white: #ffffff;
$whiteOpacity: #ffffffb2;
$orange: #fd695a;
$dark: #150a29;
$grey: #3d3d3f;
$lightDark: #37383d;
$lightGrey: #747474;
$middleGrey: #515151;
$green: #41ba77;
$backgroundIcon: #E9F6EE;
$greenIcon: #34D27B;
$orangeIcon: #FD695A;
$violetIcon: #7879F1;
$blueIcon: #53C8FF;

$MuE: "Mulish-ExtraBold";
$MuB: "Mulish-Bold";
$MuS: "Mulish-SemiBold";
$MuR: "Mulish-Regular";
$MaS: "Manrope-SemiBold";
$MaR: "Manrope-Regular";
$DM-M: "DMSans-Medium";
$DM-R: "DMSans-Regular";
