$white: #FFFFFF;
$orange: #FD695A;
$dark: #150A29;
$grey: #3D3D3F;
$lightDark: #37383D;
$lightGrey: #747474;
$middleGrey: #515151;


$MuE: 'Mulish-ExtraBold';
$MuB: 'Mulish-Bold';
$MuS: 'Mulish-SemiBold';
$MuR: 'Mulish-Regular';
$MaS: 'Manrope-SemiBold';
$MaR: 'Manrope-Regular';
$DM-M: 'DMSans-Medium';
$DM-R: 'DMSans-Regular';