.header {
    &-top {
        @include flexBetween;
        padding-top: 39px;
        text-transform: capitalize;
        &__link {
            width: 189px;
            &_logo {
                width: 100%;
            }
        }

        &__nav {
            @include flexBetween;
            gap: 52px;

            @include mediaMobileFirst(900) {
                gap: 45px;
            }

            &_link {
                font-size: 16px;
                line-height: 28px;
                color: $dark;
                font-family: $MaS;
                transition: 0.4s;
                position: relative;
                &:hover::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 14px;
                    width: 10px;
                    height: 2px;
                    color: $orange;
                }
            }
        }

        &__btn {
            width: 137px;
            height: 50px;
            text-transform: capitalize;
            @include btn;
            font-size: 16px;
            line-height: 28px;
            font-family: $MuS;
            &:active .form {
                opacity: 1;
                z-index: 1;
            }
        }

        &__nav,
        &__btn {
            @include mediaMobileFirst(800) {
                display: none;
            }
        }
    }

    // BURGER MENU //

    .burger-menu {
        display: none;
        flex-direction: column;
        gap: 5px;

        @include mediaMobileFirst(800) {
            display: flex;
            gap: 5px;
        }

        & div {
            width: 30px;
            height: 3px;
            background: $orange;
        }
    }
}
