.service {
    width: 100%;
    margin-block: 153px 133px;

    &-content {
        @include flexBetween;

        &__grid {
            max-width: 523px;
            width: 100%;
            &_question-title {
                font-family: $MuS;
                font-size: 24px;
                line-height: 50px;
                text-transform: uppercase;
                color: $orange;
            }
            &_answer-title {
                margin-block: 8px 6px;
                font-family: $MuB;
                font-size: 42px;
                line-height: 50px;
                color: $grey;
                text-transform: capitalize;
                position: relative;
                &::before {
                    position: absolute;
                    content: url(../images/icon-rocket.png);
                    top: 55px;
                    left: 367px;
                }
            }
            &_text {
                width: 100%;
                margin-block: 25px;
                font-family: $MuS;
                font-size: 16px;
                line-height: 26px;
                color: $middleGrey;
            }
            &_btn {
                width: 203px;
                height: 50px;
                @include btn;
                font-family: $MuB;
                font-size: 18px;
                line-height: 28px;
            }

            &_items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 32px;
            }
        }
    }
}

.service-item {
    width: 269px;
    @include flexCenter;
    flex-direction: column;
    padding: 33px 25px 22px;
    position: relative;
    cursor: pointer;

    &::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 0;
        height: 10px;
        border-radius: 0 0 10px 10px;
        opacity: 0.7;
        box-shadow: 0px 30px 80px rgba(44, 22, 84, 0.07);
        transition: 0.7s;
    }
    &:nth-child(1) {
        &::after {
            background: $greenIcon;
        }
        &:hover .green-icon {
            background: $greenIcon;
        }
        &:hover button {
            color: $greenIcon;
        }
    }
    &:nth-child(2) {
        &::after {
            background: $violetIcon;
        }
        &:hover .violet-icon {
            background: $violetIcon;
        }
        &:hover button {
            color: $violetIcon;
        }
    }
    &:nth-child(3) {
        &::after {
            background: $orangeIcon;
        }
        &:hover .orange-icon {
            background: #bc5c560f;
        }
        &:hover button {
            color: $orangeIcon;
        }
    }
    &:nth-child(4) {
        &::after {
            background: $blueIcon;
        }
        &:hover .blue-icon {
            background: $backgroundIcon;
        }
        &:hover button {
            color: $blueIcon;
        }
    }

    &:hover::after {
        width: 100%;
    }

    &__icon {
        width: 71px;
        height: 71px;
        padding: 16px;
        border-radius: 50%;
        background-color: $backgroundIcon;

        &_img {
            width: 100%;
        }
    }
    &__title {
        margin-block: 16px 8px;
        font-family: $MuB;
        font-size: 20px;
        line-height: 28px;
        color: $lightDark;
    }
    &__text {
        margin-bottom: 12px;
        font-family: $DM-R;
        font-size: 13.5px;
        line-height: 26px;
        color: $lightGrey;
    }
    &__btn {
        font-family: $DM-M;
        font-size: 12px;
        line-height: 26px;
        color: $grey;
        text-decoration: underline;
        border: none;
        background: transparent;
    }
}
