.service {
    width: 100%;
    margin-block: 153px 133px;

    &-content {
        @include flexBetween;

        &__wrap {
            max-width: 523px;
            width: 100%;
            &_question-title {
                font-family: $MuS;
                font-size: 24px;
                line-height: 50px;
                text-transform: uppercase;
                color: $orange;
            }
            &_answer-title {
                margin-block: 8px 6px;
                font-family: $MuB;
                font-size: 42px;
                line-height: 50px;
                color: $grey;
                text-transform: capitalize;
                position: relative;
                &::before {
                    position: absolute;
                    content: url(../images/icon-rocket.png);
                    top: 55px;
                    left: 367px;
                }
            }
            &_text {
                width: 100%;
                margin-block: 25px;
                font-family: $MuS;
                font-size: 16px;
                line-height: 26px;
                color: $middleGrey;
            }
            &_btn {
                width: 203px;
                height: 50px;
                @include btn;
                font-family: $MuB;
                font-size: 18px;
                line-height: 28px;
            }

            &_items {
                //    @include flexBetween;
                // display: flex;
                // flex-wrap: wrap;
            }
        }
    }
}

.service-item {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}
