.service {
    width: 100%;
    margin-block: 153px 133px;

    &-content {
        @include flexBetween;

        &__grid {
            max-width: 523px;
            width: 100%;
            &_question-title {
                font-family: $MuS;
                font-size: 24px;
                line-height: 50px;
                text-transform: uppercase;
                color: $orange;
            }
            &_answer-title {
                margin-block: 8px 6px;
                font-family: $MuB;
                font-size: 42px;
                line-height: 50px;
                color: $grey;
                text-transform: capitalize;
                position: relative;
                &::before {
                    position: absolute;
                    content: url(../images/icon-rocket.png);
                    top: 55px;
                    left: 367px;
                }
            }
            &_text {
                width: 100%;
                margin-block: 25px;
                font-family: $MuS;
                font-size: 16px;
                line-height: 26px;
                color: $middleGrey;
            }
            &_btn {
                width: 203px;
                height: 50px;
                @include btn;
                font-family: $MuB;
                font-size: 18px;
                line-height: 28px;
            }

            &_items {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 32px;
            }
        }
    }
}

.service-item {
    @include flexCenter;
    flex-direction: column;
    padding: 33px 25px 22px;
    
    &__icon {
        width: 71px;
        height: 71px;
        padding: 16px;
        background: $backgroundIcon;
        border-radius: 50%;

        &_img {
            width: 100%;
        }
    }
}
